[submodule "subworkflows"]
	path = subworkflows
	url = https://github.com/msk-access/cwl_subworkflows.git
[submodule "command_line_tools"]
	path = command_line_tools
	url = https://github.com/msk-access/cwl-commandlinetools.git
